<!DOCTYPE html>

<html>

<head>
    <title>mwhyte.dev - Spring Boot - Basic Login Form</title>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    
</head>

<body>
<body class="align">

<div class="grid">

    <form th:action="@{/login}" method="post" class="form login">
        <br/>
        
        <div class="form__field">
            <label for="login__username"><span class="hidden">Usuario</span></label>
            <input id="login__username" type="text" name="username" class="form__input" placeholder="Username" required>
        </div>

        <div class="form__field">
            <label for="login__password"><span class="hidden">Senha</span></label>
            <input id="login__password" type="password" name="password" class="form__input" placeholder="Password" required>
        </div>

        <div class="text--center" th:if="${param.error}">
            Invalid username and password.
        </div>
        <div class="text--center" th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class="form__field">
            <input type="submit" value="Entrar">
        </div>

    </form>
</div>


</body>


</body>
</html>
