<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>

	<form class="container" method="post">
		<div>
			Nome: <input  type="text" value="" name="nome"/>
		</div>
		
		<div>
			Idade: <input  type="text" value="" name="idade"/>
		</div>
		
		<div>
			Quantidade de Horas: <input  type="text" value="" name="qtdHora"/>
		</div>
		
		<div>
			Valor da Hora: <input  type="text" value="" name="valorHora"/>
		</div>
		
		
	
		<button type="submit">Enviar</button>

	</form>


	</body>
</html>